<div class="header">
	<div class="row mine">
			<div class="top-strip">
				<nav class="top-nav">
					<ul class="nav navbar-nav">
						<li><a href="#">  +260 211 228303/4   </a></li>
						<li><a href="#">  kelvin.kamayoyo@mcti.gov.zm </a></li>
						<li> 
							<%= mail_to "kelvin.kamayoyo@mcti.gov.zm", :class=> "you_class" do %>
   						 	<i class="fa fa-envelope-o" aria-hidden="true" target="_blank"></i> Webmail
							<% end %>
						</li>		
					</ul>
				</nav>
			</div>
	</div>

	<div class="row">

		<div class="col-md-2">
			<div class="Logo">
				<%= link_to(image_tag("/assets/coat.png", alt: "logo", title: "Home"), "/", class: "navbar-brand" )  %>
	        </div>
	    </div>  

	    <div class="col-md-10">

	       <nav class="navbar">
	            
	            <ul class="nav navbar-nav">     
	              <li>  <%= link_to "HOME", root_path %> </li>
	              <li>  <%= link_to "ABOUT US", '#' %> </li>
	              <li>  <%= link_to "LEGISTRATION", '#' %> </li>
	              <li>  <%= link_to "DOWNLOADS", '#' %> </li>
	              <li>  <%= link_to "CAREERS", new_career_path %> </li>
	              <li>  <%= link_to "TENDERS", '#' %> </li>
	              <li>  <%= link_to "MEDIA", '#' %> </li>
	              <li>  <%= link_to "FAQ", fa_questions_path  %> </li>
	              <li>  <%= link_to "CONTACT", new_contact_path %> </li>
	            </ul>
	        
	        </nav>
	    </div>
	</div>
 
</div>